PORT=4000

FIREBASE_API_KEY=AIzaSyC1iV5uNsYRdK_q8nrNqCMZJfB54UKn45A
FIREBASE_AUTH_DOMAIN=zerospot-ea705.firebaseapp.com
FIREBASE_PROJECT_ID=zerospot-ea705
FIREBASE_STORAGE_BUCKET=zerospot-ea705.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=716557257470
FIREBASE_APP_ID=1:716557257470:web:cc905e3ce7735257e433af
FIREBASE_MEASUREMENT_ID=G-2DR48BQTCM

# Firebase Admin SDK (Set in Vercel Environment Variables or .env locally)
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@zerospot-ea705.iam.gserviceaccount.com

# Admin credentials
ADMIN_EMAIL=admin@zerospot.in
ADMIN_PASSWORD=Admin@ZeroSpot_2026

# Google Sheets & Apps Script Integration
GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbwXIN-Q5kMpoYlBkUpjOnst6CtQ_wUAP3OLS91U0FzMnaEWET8fPcs3fqEk07-VMiRp/exec
